*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

button, a {
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.App {
  padding: var(--offset);
}

.select-box {
  width: 400px;
}
